body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EAE1D2;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #EAE1D2;
    border-bottom: 1px solid #ddd;
}

h1 {
    margin: 0;
    color: #333;
}

main {
    padding: 20px;
}

.upload-form {
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.upload-form h2 {
    margin-bottom: 15px;
}

.upload-form label {
    display: block;
    margin-bottom: 5px;
}

.upload-form input[type="file"],
.upload-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.upload-form button {
    background-color: #28a745; /* Hijau untuk tombol unggah */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-form button:hover {
    background-color: #218838; /* Warna lebih gelap saat hover */
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.product-card {
    background: #EAE1D2;
    padding: 15px;
    text-align: center;
    border: 1px solid black;
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05); /* Efek zoom saat hover */
}

.product-card img {
    width: 100%; /* Mengatur lebar gambar menjadi 100% dari kontainer */
    height: auto; /* Menjaga proporsi gambar */
    aspect-ratio: 1 / 1; /* Menetapkan rasio aspek 1:1 untuk kotak */
    object-fit: cover; /* Memastikan gambar mengisi area tanpa merusak proporsi */
    margin-bottom: 10px;
}

.product-card h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.product-card .price {
    color: #e60000; /* Warna merah untuk harga */
    font-weight: bold;
    margin: 10px 0;
}

.shop-btn {
    background: #e60000; /* Merah untuk tombol beli */
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
}

.shop-btn:hover {
    background: #cc0000; /* Warna lebih gelap saat hover */
}

.delete-btn {
    background: #ff0000; /* Merah untuk tombol hapus */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background: #cc0000; /* Warna lebih gelap saat hover */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #EAE1D2;
    border-top: 1px solid #ddd;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: #333;
}

.product-card .price {
    color: #e60000; /* Warna merah untuk harga */
    font-weight: bold;
    margin: 10px 0;
}